@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,200;0,300;0,400;1,200&family=Bangers&display=swap');
html, body {
  background-image: url('201722.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    background-color: #262424;
    min-width: 500px;
    font-family: 'Asap', sans-serif;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
  }
  
  header {
    color: #ff7315;
    text-align: center;
    font-size: 3em;
  }
  
  #instructions {
    color: white;
  }
  
  .instruction {
    padding: 15px;
    margin: 10px 0;
  }
  
  .plus {
    background-color: #f67280;
  }
  
  .moins {
    background-color: #72c9ff;
  }
  
  .fini {
    background-color : #0c9463;
  } 
/* 
  form{
    border-color: red;
  } */